{{! image with caption as described in http://web.enavu.com/tutorials/making-image-overlay-caption-using-css/ }}
<!-- wrapper div -->  
<div class='wrapper'>  
    <!-- image -->  
    <img src='{{image_url}}' {{image_size}}  />  
    <!-- description div -->  
    <div class='description'>
        <!-- description content -->  
        <p class='description_content'>{{image_title}} by {{post_author}} on {{post_date}}</p>  
        <!-- end description content -->  
    </div>
    <!-- end description div -->  
</div>  
<!-- end wrapper div --> 